@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Inter:wght@300&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Inter:wght@300&family=Poppins:wght@400;500;600&family=Varela+Round&display=swap');

:root {
    --background: #2f2fa2;
    --navbartext: #F64C72;
}

.navbar-brand {
    font-family: 'Bad Script', cursive;
    margin-left: 2em;
    color: var(--navbartext);
    font-weight: bolder;
    font-size: 1.5em;
}

.navbar {
    /* background-color: var(--background) */
    /* background-color: #242582; */
    background-image: linear-gradient(to left, #2f2fa2, #242582);
}

.hb {
    background-color: var(--background);

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #99738E, #F64C72);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: x-large;
    border: var(--background);
    outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon.ml-auto.hidden-sm-up.float-xs-right:focus {
    outline: none !important;
    box-shadow: none;
}

.hb:hover {
    font-size: xx-large;
}

.nav-item {
    margin-left: 1.2em;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}
.nav-item:hover{
    background-color: var(--background);

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #99738E, #F64C72);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
   

}